name: Generate Metrics
on:
  push:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * */5"
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate terminal metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: standard-metrics.svg
          committer_message: Update metrics (${filename})
          committer_gist: 6cab963ce204e91a371b9254f013cb5a
          output_action: gist
          user: Encode42
          template: classic
          base: activity, repositories
          config_timezone: America/New_York
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 31
          plugin_habits_facts: yes
          plugin_habits_from: 300
          plugin_habits_trim: yes
          plugin_languages: yes
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_indepth: yes
          plugin_languages_limit: 5
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 31
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_languages_ignored: kotlin
          plugin_lines: yes
          plugin_wakatime: yes
          plugin_wakatime_days: 30
          plugin_wakatime_limit: 5
          plugin_wakatime_sections: time, projects, projects-graphs, editors
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: Encode42
          repositories_affiliations: owner, collaborator
          repositories_forks: yes